name: "Close Stale Issues"
on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v9
      with:
        stale-issue-message: 'Este issue ha estado inactivo por 60 días. Se cerrará en 7 días si no hay actividad.'
        stale-issue-label: 'no-issue-activity'
        days-before-stale: 60
        days-before-close: 7
